KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o

KERNEL_ARCH_RUST_PROJECTS=\
$(ARCHDIR)/tty \
$(ARCHDIR)/vga

KERNEL_ARCH_RUST_OBJS=\
target/i686-unknown-linux-gnu/release/libtty.a \
target/i686-unknown-linux-gnu/release/libvga.a