name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update to nightly Rust
        run: rustup override set nightly

      - name: Install dependencies
        run: make packages

      - name: Build with Makefile
        run: make iso

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v3
        with:
          name: thaunos-x86_64.iso
          path: output/thaunos-x86_64.iso